---
import { Image } from "astro:assets";
import card1 from "../assets/images/card1.png";
import card2 from "../assets/images/card2.png";
import card3 from "../assets/images/card3.png";
import card4 from "../assets/images/card4.png";
---

<section>
  <div class="m-15">
    <h2 class="text-center text-4xl">Beskyt vores miljø og sundhed</h2>
  </div>
</section>
<section>
  <div class="grid grid-cols-4 place-items-center">
    <!-- card1 starter her -->
    <div class="card bg-base-100 w-60 shadow-sm">
      <figure>
        <Image src={card1} alt="card 1" class="w-100" />
      </figure>
      <div class="card-body bg-[#FF116C]">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      </div>
    </div>
    <!-- card1 slutter her  -->

    <!-- card2 starter her -->
    <div class="card bg-base-100 w-60 shadow-sm">
      <figure>
        <Image src={card2} alt="card 1" class="w-100" />
      </figure>
      <div class="card-body bg-[#FF116C]">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      </div>
    </div>
    <!-- card2 slutter her  -->

    <!-- card3 starter her -->
    <div class="card bg-base-100 w-60 shadow-sm">
      <figure>
        <Image src={card3} alt="card 1" class="w-100" />
      </figure>
      <div class="card-body bg-[#FF116C]">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      </div>
    </div>
    <!-- card3 slutter her  -->

    <!-- card4 starter her -->
    <div class="card bg-base-100 w-60 shadow-sm">
      <figure>
        <Image src={card4} alt="card 1" class="w-100" />
      </figure>
      <div class="card-body bg-[#FF116C]">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      </div>
    </div>
    <!-- card4 slutter her  -->
  </div>
</section>
