<article>
    <div class="parallaxgrafik sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center" style="background-image: url('/problemet/bg2.webp')" >
        <img src="/brugeren/blufisk.png" alt="fisk" class="absolute max-w-120 -left-50 top-40 parallaxgrafik1">
        <img src="/brugeren/fisk.png" alt="fisk" class="absolute max-w-100 left-0 top-80 parallaxgrafik2">
        <img src="/brugeren/fisk2.png" alt="fisk" class="absolute max-w-150 -left-30 top-90 parallaxgrafik3">
    </div>


</article>

<script>
    /* Import af Motion One bibliotek */
import { animate, stagger, inView, scroll } from "motion";

/* Parallaxgrafik */ 
scroll(animate(".parallaxgrafik1", { x: [-400, 2600] }), {
		target: document.querySelector(".parallaxgrafik"), offset: ["start end", "end start"]
	});
	scroll(animate(".parallaxgrafik2", { x:[2000, -800] }), {
		target: document.querySelector(".parallaxgrafik"), offset: ["start end", "end start"]
	});
	scroll(animate(".parallaxgrafik3", { x: [-1500, 2000], y: [0, 400] }), {
		target: document.querySelector(".parallaxgrafik"), offset: ["start end", "end start"]
	});
</script>