---
import Link from "../components/Link.astro";
---


<section class=" relative footer bg-[#01283C] "> 
    <!-- <div class="absolute top-0 left-0"> <img src="/images/corals.png" alt="" class="w-100 h-70"> </div> 
    <div class="absolute top-60 left-0"> <img src="/images/corals2.png" alt="" class="w-170 h-100"> </div> 
    <div class="absolute bottom-30 right-110 overflow-hidden"> <img src="/images/corals3.png" alt="" class="w-200 h-120 transform rotate-150"> </div> -->
    
   <div class="grid grid-cols-2 gap-20 max-w-[1200px] mx-auto mt-20 items-center mb-20">
        <div class=""> 
            <h3 class="text-white text-4xl mb-8 font-bold">Tilmeld dig vores nyhedsbrev</h3> 
            <p class="text-white text-lg">Følg med i vores arbejde med plastikforurening, og hold dig opdateret med de senseste nyheder</p>
            <form class="email-form rounded-lg [&_input]:rounded-full pt-8"> 
                <input type="email" placeholder="Skriv din email" class="email-input mr-4 text-[#01283C]"> 
                <Link type="submit" class="submit-button">Tilmeld</Link>
            </form>
        </div> 
        <div class=""> 
            <video class="rounded-lg" src="/video.mp4" autoplay muted loop width="500"></video> 
        </div>
   </div>

    <div class="grid grid-cols-3 gap-40  max-w-[1200px] mx-auto items-center">
        <div class="mx-auto"> 
            <img src="/logo.svg" alt="#singleusesucks">
        </div>
        <div class=" text-white text-xl mx-auto"> 
            <p>Mail: info@plasticchange.org</p> 
            <p>Tlf: +45 42 66 72 46</p> 
            <p>Telefontid: Mandag - Fredag, 10:00 - 15:00</p> 
        </div> 
        <div class="mx-auto">
            <p class="text-white font-bold text-2xl pb-4">Følg os på SoMe</p>
            <div class="flex gap-4 [&_img]:max-w-[25px] items-center">
                <a href="https://www.facebook.com/plasticchange/" target="_blank"><img src="/socials/facebook.svg" alt="facebook" class="social-icon"></a>
                <a href="https://www.twitter.com/plasticchange/" target="_blank"><img src="/socials/twitter.svg" alt="twitter" class="social-icon"></a>
                <a href="https://www.linkedin.com/company/plasticchange/" target="_blank"><img src="/socials/linkedin.svg" alt="linkedin" class="social-icon"></a>
                <a href="https://www.youtube.com/plasticchange/" target="_blank"><img src="/socials/youtube.svg" alt="youtube" class="social-icon"></a>
                <a href="https://www.youtube.com/plasticchange/" target="_blank"><img src="/socials/insta.svg" alt="instagram" class="social-icon"></a>
            </div>
        </div>
    </div>
    <p class="mx-auto text-sm mb-8">© All rigths Reserved | SingleUseSucks</p>
</section>