------<section class="relative bg-[#01283C] h-[550px] "> 
    <div class="absolute top-0 left-0"> <img src="/images/corals.png" alt="" class="w-70 h-50"> </div> 
        <div class="absolute top-26 left-0"> <img src="/images/corals2.png" alt="" class="w-80 h-80"> </div> 
        <div class="absolute top-0 left-4"> <img src="/images/corals3.png" alt="" class="w-180 h-100 absolute"> </div>
    <div class="tilmeld w-[500px] relative left-70 top-30"> 
        <h3 class="text-white text-4xl mb-10">Tilmeld dig vores nyhedsbrev</h3> 
        <p class="text-white text-16">Følg med i vores arbejde med plastikforurening, og hold dig opdateret med de senseste nyheder</p> </div> 
        <div> <form class="email-form relative top-30 left-70 rounded-lg"> 
            <input type="email" placeholder="Skriv din email" class="email-input"> 
            <button type="submit" class="submit-button">Tilmeld</button> 
        </form> </div> 
        <div class="info text-white text-1xl relative left-150 top-40"> 
            <p>Mail: info@plasticchange.org</p> 
            <p>Tlf: +45 42 66 72 46</p> 
            <p>Telefontid: Mandag - Fredag, 10:00 - 15:00</p> </div> 
            <div class="video relative bottom-75 left-220"> <video class="rounded-lg" src="/video.mp4" controls width="500" loop></video> </div>
        </section>