<article class="">
    <!-- <section class="crossfadeimages mx-auto sticky w-screen h-[1000vh]">
		<img src="/gjort/after.webp" alt="" class="crossfadetopimg object-cover w-screen absolute top-0 z-0 my-0">
		<img src="/gjort/before.webp" alt="" class="crossfadebottomimg object-cover w-screen absolute top-0 z-0 my-0">
	</section> -->

    <figure class="diff aspect-16/9" tabindex="0">
        <div class="diff-item-1" role="img">
          <img alt="daisy" src="/gjort/after.webp" />
        </div>
        <div class="diff-item-2" role="img" tabindex="0">
          <img
            alt="daisy"
            src="/gjort/before.webp" />
        </div>
        <div class="diff-resizer"></div>
      </figure>

    <div class="relative flex justify-end z-11">
        <div class="overflow-clip mt-0 max-w-5xl mx-auto">
            <section id="horisontalscrollsection" class="h-[500vw] [&_figcaption]:text-3xl font-bold">
                <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[30vh] [&_img]:rounded-xl">
                <li class="pl-0 flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><img src="/problemet/plastic-bottle.webp" class="w-1/2" alt="foto" /><figcaption class="pl-12 w-1/2 content-center">Problemet med plastforurening er, at det skader dyrelivet, økosystemerne og menneskers sundhed.</figcaption></figure></li>
                <li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><img src="/problemet/trash.webp" class="w-1/2" alt="foto" /><figcaption class="pl-12 w-1/2 content-center">Havdyr indtager eller bliver viklet ind i plastikaffald, hvilket fører til skader eller død.</figcaption></figure></li>
                <li class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><img src="/problemet/art-trash.webp" class="w-1/2" alt="foto" /><figcaption class="pl-12 w-1/2 content-center">Det tager hundredvis af år at nedbryde plastik, og det forurener land og hav med giftige kemikalier og mikroplastik.</figcaption></figure></li>
                <li class="pl-0 flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><figure class="flex flex-row max-w-[1000px]"><img src="/problemet/plastic-in-fish.webp" class="w-1/2" alt="foto" /><figcaption class="pl-12 w-1/2 content-center">Mennesker udsættes for mikroplast gennem mad, vand og luft med potentielle sundhedsrisici til følge. </figcaption></figure></li>
                </ul>
            </section>
        </div>
    </div>
</article>

<script>
    /* Import af Motion One bibliotek */
import { animate, stagger, inView, scroll } from "motion";

// js blocks goes here

	/* Crossfade to billeder */
	scroll(
	animate(".crossfadebottomimg", {
		opacity: [1, 0]
	}), {
		target: document.querySelector(".crossfadeimages"),
		offset: ["-25vh", "50vh"]
	}
	);
</script>