---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<!-- Progress-bar placeret i toppen af sitet -->
<div class="progress-bar h-2 fixed w-full bg-[#FF116C] left-0 origin-top-left top-0 right-0"></div>

<div class="">
  <div class="navbar bg-[#01283C]">
    <div class="navbar-start">
      <div class="">
        <Image src={logo} alt="single use sucks" class="my-auto ml-4 p-2 max-h-[95px]" />
      </div>
    </div>
    <div class="navbar-end mr-4">
      <Link href="#footer">Støt</Link>
    </div>
  </div>
</div>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  /*Progress-baren/læseindikatoren */
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));
</script>
