---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
import Button from "../components/Button.astro";
---

<div class="">
  <div class="navbar bg-[#01283C]">
    <div class="navbar-start">
      <div class="">
        <Image src={logo} alt="single use sucks" class="my-auto ml-4 p-2 max-h-[95px]" />
      </div>
    </div>
    <div class="navbar-end mr-4">
      <Button>Støt</Button>
    </div>
  </div>
</div>
