---
---

<section class="bg-[url('/images/cleanocean.webp')] bg-cover bg-no-repeat bg-center relative">
    <div class="img-co</section>ntainer1 absolute bottom-0">
        <img src="/images/bag.png" alt="" style="width: 200px; height: 200px;">
    </div>
    <div class="img-container3">
        <img src="/images/glass.png" alt="" style="width: 150px; height: 150px;">
    </div>
    <div class="img-container4">
        <img src="/images/lid.png" alt="" style="width: 150px; height: 150px;">
    </div>
    <div class="img-container5">
        <img src="/images/pipet.png" alt="" style="width: 150px; height: 150px;">
    </div>
    <div class="img-container6">
        <img src="/images/plast.png" alt="" style="width: 150px; height: 150px;">
    </div>
</section>
</section>